{{>layout/header}}

<h1>게시글 상세보기</h1>

<div class="col-md-12">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <label for="title">글 번호</label>
                <input type="text" class="form-control" id="id" value="{{detail.id}}" readonly>
            </div>
            <div class="form-group">
                <label for="title">제목</label>
                <input type="text" class="form-control" id="title" value="{{detail.title}}" readonly>
            </div>
            <div class="form-group">
                <label for="author"> 작성자 </label>
                <input type="text" class="form-control" id="author" value="{{detail.author}}" readonly>
            </div>
            <div class="form-group">
                <label for="content"> 내용 </label>
                <textarea class="form-control" id="content" readonly>{{detail.content}}</textarea>
            </div>
        </form>

        <div class="card my-4">
            <div class="card">
                <div class="card-header bi bi-chat-dots"> Comments</div>

                <ul class="list-group-flush">
                    {{#comments}}
                        <li class="list-group-item">
                            <span>
                                <span style="font-size: small">{{username}}</span>
                                <span style="font-size: xx-small">{{createdDate}}</span>&nbsp;
                                <button class="badge bi bi-trash"> 대댓글</button>&nbsp;
                                <button class="badge bi bi-trash" id="btn-comment-delete"> 삭제</button>
                                <input type="hidden" name="comments_id" id="comments_id" value="{{id}}"/>
                            </span>
                            <div>{{content_c}}</div>
                        </li>
                    {{/comments}}
                </ul>
            </div>

            <div class="card-body">
                <form name="comment-form" action="/{{detail.id}}" method="post" autocomplete="off">
                    <div class="form-group">
                        <label for="username"> 작성자 </label>
                        <input type="text" class="form-control" id="username" placeholder="작성자 이름을 입력하세요">
                        <br>
                        <input type="hidden" name="posts_id" id="id" value="{{detail.id}}"/>
                        <textarea name="content_c" class="form-control" rows="3" id="content_c"
                                  placeholder="댓글을 입력하세요"></textarea>
                    </div>
                    <button type="button" class="btn btn-primary" id="btn-comment-save">등록</button>
                </form>
            </div>
        </div>

        <a href="/" role="button" class="btn btn-secondary">뒤로 가기</a>
        <a href="/posts/update/{{detail.id}}" role="button" class="btn btn-primary">수정</a>
    </div>
</div>

{{>layout/footer}}