{{>layout/header}}

<h1>게시글 상세보기</h1>

<div class="col-md-12">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <label for="title">글 번호</label>
                <input type="text" class="form-control" id="id" value="{{detail.id}}" readonly>
            </div>
            <div class="form-group">
                <label for="title">제목</label>
                <input type="text" class="form-control" id="title" value="{{detail.title}}" readonly>
            </div>
            <div class="form-group">
                <label for="author"> 작성자 </label>
                <input type="text" class="form-control" id="author" value="{{detail.author}}" readonly>
            </div>
            <div class="form-group">
                <label for="content"> 내용 </label>
                <textarea class="form-control" id="content" readonly>{{detail.content}}</textarea>
            </div>
        </form>
        <a href="/" role="button" class="btn btn-secondary">뒤로 가기</a>
        <a href="/posts/update/{{detail.id}}" role="button" class="btn btn-primary">수정</a>
    </div>
</div>

{{>layout/footer}}